.about {
    display: flex;
    flex-direction: row;
    min-height: 400px;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(211, 233, 252);
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.about-img {
    text-align: right;
    width: 8%;
}

.about img {
    display: inline-block;
    width: 200px;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    box-sizing: border-box;
    padding: 0 1%;
}

.about-title {
    margin: 0;
    text-align: left;
    padding: 25px 8%;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    color: rgb(11, 139, 86);
    font-weight: bold;
}

.about-description {
    margin: 0;
    padding: 25px 8%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image {
    width: 200px;
    height: 200px;
    font-size: 30px;
    color: #fff;
    background: none;
    border: none;
    border-radius: 50%;
    position: relative;
    z-index: 0;
    transition: .3s;
    cursor: pointer;
    background-color: #000;
}

.image:before {
    content: "";
    position: absolute;
    inset: -8px;
    padding: 3px;
    border-radius: 50%;
    background: conic-gradient(#ff53bb, #0000 30deg 120deg, #00f8d3 150deg 180deg, #0000 210deg 300deg, #ff53bb 330deg);
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: intersect;
    background-color: #222;
}

.image:after {
    content: "";
    position: absolute;
    inset: -100px;
    background:
        radial-gradient(20px at left 100px top 150px, #ff53bb 100%, #0000),
        radial-gradient(20px at right 100px bottom 150px, #00f8d3 100%, #0000);
    filter: blur(120px);
    opacity: .5;
}

.image:before,
.image:after {
    transition: .5s, 99999s 99999s transform;
}

.image:hover {
    box-shadow: 0 0 0 1px #2e2e2e;
}

.image:hover:before,
.image:hover:after {
    transform: rotate(36000deg);
    transition: .5s, 600s linear transform;
}

.image button>img {
    border-radius: 50%;
    left: -2px;
    position: relative;
    top: 2px;
    width: 594px;
    opacity: 0.9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .about {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .about-img {
        text-align: center;
        width: 100%;
    }

    .image {
        width: 150px;
        height: 150px;
        margin-bottom: 20px;
    }

    .about img {
        width: 146px;
        margin-right: 10px;
    }

    .about-text {
        width: 100%;
        padding: 0 8%;
        text-align: left;
    }

    .about-title {
        padding-bottom: 5px;
        font-size: 2.5rem;
    }

    .about-description {
        padding: 25px 0;
        font-size: 0.9rem;
        
    }
}