.contact {
    margin: auto;
    min-width: 25rem;
    padding-top: 30px;
    background-color: #7a7878;
}

.contact-subtitle {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center
}

.form-group {
    position: relative;
}

.form-control {
    background-color: #f2f6f8;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
    padding-left: 3.5rem;
}

.form-control-m {
    background-color: #f2f6f8;
    height: 100px;
    border-radius: 1rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
    padding-left: 1.3rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.form-control-m::-webkit-scrollbar {
    width: 8px;
}

.form-control-m::-webkit-scrollbar-track {
    background-color: transparent;
}

.form-control-m::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.form-control:focus {
    background-color: #f2f6f8;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: 14px;
    box-sizing: border-box;
}

.btn.btn-primary {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
    box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
    background-size: 100% 100%;
    transform: translateY(-0.15em);
}

.icon {
    position: absolute;
    left: 1rem;
    top: 30%;
    transform: translateY(-50%);
    color: #57565c;
}