.footer {
    background-color: rgb(211, 233, 252);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 0 8%;
}

.social-icons {
    flex-grow: 0;
}

.social-icons a {
    display: inline-block;
    color: #555;
    font-size: 20px;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #000;
}

.developer {
    flex-grow: 1;
    text-align: center;
}

.developer p {
    margin-bottom: 0px;
    font-size: 14px;
}

.developer span {
    font-weight: bold;
}

.program-icon img {
    max-width: 170px;
    height: auto;
}


@media (max-width: 768px) {

    .social-icons a {
        font-size: 19px;
    }

    .developer p {
        margin-bottom: 0px;
        font-size: auto;
    }

    .developer span {
        font-weight: bold;
    }

    .program-icon img {
        max-width: 200px;
        height: auto;
    }
}

