.home {
    margin: auto;
    padding: 1px 0;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    background-image: url("../images/background.png");
}

.home-content {
    text-align: center;
    margin-bottom: 20px;
}

.home-title {
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 5px;
    color: #fff;
}

.home-subtitle {
    font-size: 32px;
    margin-bottom: 1px;
    color: #fcfcfc;
}

.home-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 2rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.home-links a {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    color: #e7e7e7;
    text-decoration: none;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}

.home-links a:hover {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
}

.home-links a:hover i {
    opacity: 0;
    visibility: hidden;
}

.home-links a::after {
    content: attr(data-name);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    transition: opacity 0.35s, visibility 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transition: opacity 0.35s, visibility 0.3s;
    -moz-transition: opacity 0.35s, visibility 0.3s;
    -ms-transition: opacity 0.35s, visibility 0.3s;
    -o-transition: opacity 0.35s, visibility 0.3s;
}

.home-links a:hover::after {
    opacity: 1;
    visibility: visible;
}

.home img {
    margin-top: 10%;
    width: 200px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

@media only screen and (max-width: 768px) {
    .home {
        height: 200px;
    }
  
    .home-title {
      font-size: 32px;
      margin-top: 15px;
    }
  
    .home-subtitle {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .home-links {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0;
      position: static;
      transform: none;
      font-size: 20px;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
    }
  
    .home-links a {
      margin-right: 10px;
      margin-bottom: -10px;
    }
  }
  